<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Boss - Multipurpose Premium Html5 Template</title>
    <meta name="description" content="Multipurpose, premium, bootstrap based bussiness, corporate, portfolio, blog, onepage, creative, magazine, personal, landing, coming soon html5 css3 template">

    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600italic,700italic,600,800,300,700,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <!-- Google Fonts -->

    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" id="color-scheme" href="css/colors/green.css">

    <!-- Favicon and Apple Icons -->
    <link rel="icon" type="image/png" href="images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="images/icons/faviconx57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/faviconx72.png">

    <!-- Modernizr -->
    <script src="js/modernizr.js"></script>

    <!--- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Queryloader -->
    <script src="js/queryloader2.min.js"></script>

</head>
<body>


    <div id="content" role="main" class="no-padding">
        <div class="page-header dark no-margin larger larger-desc">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>404 Page</h1>
                        <p class="page-header-desc">There is no page in here.. Go somewhere else..</p>
                    </div><!-- End .col-md-6 -->
                    <div class="col-md-6">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">404</li>
                        </ol>
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div>

        <div class="error-page error-pagebg light text-center">
            <div class="container">
                <h2 class="error-title shadow">404</h2>
                <h3 class="error-subtitle shadow">Page Not Found</h3>

                <p class="error-text center-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos animi, enim ullam consequatur ad ipsa quaerat voluptatem. Nulla similique assumenda alias perferendis voluptatibus voluptates neque voluptatem nesciunt, atque suscipit unde.</p>

                <form action="#">
                    <div class="form-group">
                        <input class="form-control input-lg input-border-bottom white text-center" type="text" placeholder="Search in here...">
                    </div><!-- end .form-group -->
                    <div class="form-group">
                        <input type="submit" class="btn btn-white btn-border no-radius min-width" value="Search Now">
                    </div><!-- end .form-group -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .error-page -->

    </div><!-- End #content -->
    <a href="#top" id="scroll-top" title="Back to Top"><i class="fa fa-angle-up"></i></a>
    <!-- END -->
    <!-- Smoothscroll -->
    <script src="js/smoothscroll.js"></script>

    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.hoverIntent.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/waypoints-sticky.min.js"></script>
    <script src="js/jquery.debouncedresize.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jflickrfeed.min.js"></script>
    <script src="js/twitter/jquery.tweet.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/skrollr.min.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
